<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}
            <p><strong></strong></p>
        {% endif %}
    </fieldset>
</form>

{% comment %} {% if question.choice_set.all %}
    <h1>{{ question.question_text }}</h1>
    <ul>
        {% for choice in question.choice_set.all %}
            <li>{{ choice.Choices_text }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p><h1>{{ question.question_text }}</h1></p>
    <p>No tiene detalle</p>
{% endif %} {% endcomment %}